/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
  }

/* html要素内の設定 */
html {

    margin: auto;/* 左右の空白が同じになる（中央揃え） */
    height: auto;
    font-size: 100%;
    font-family: serif;
}
.img-point1{
    width: 100%;/* 100%なので画像は中央にくる */
    height: auto;/* autoにすることで縦横比を調整 */
}
.img-point2{
    width: 100%;/* 100%なので画像は中央にくる */
    height: auto;/* autoにすることで縦横比を調整 */
}


h1 {
    text-align: center; /* <img>もインライン要素なのでテキストと同じ */
}


h2{
    margin:10px auto;
    font-size: 1.8rem;
    border-bottom: 8px solid #f7f7f7;
    text-align: center;
    line-height: 0.6;

}
h3{
    margin: 10px;
}

a{
    color: #6c6b6b;
    font-weight: bold;
    text-decoration: none;/* リンクの下線などをなくす */
}

header{
    width: 100%;
    margin-bottom: 10px;
    border-bottom: thick solid;
    border-color: rgba(25, 50, 120, 0.8);
}

article ,form{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: justify;
    justify-content: center;/* 要素の横並び・中央寄せ */
    /* width: 100%; */
    /* height: auto;  */
    /* background-color: ; */
}

article p{
    margin: 10px;
}

ul{
    margin: 30px;
    list-style:circle outside;
}


.header-list {
    padding-bottom:10px;
    justify-content: center;
    display: flex; /* 小要素をインラインブロックにする (横並び)*/
    font-size: 1.3rem;
}

.header-list-detail{
    margin-left: 2%;
    font-family: "fantasy";
}

.service-overview{
    text-align: center;/* 小要素がinline-blockなのでjustyfy-contentではなくtext-aline */
    margin-bottom: 80px;
    /* border-bottom:4px dotted #d7d7d7; */
}

.service-overview-info{
    /* margin: ; */
    display: inline-block;
    text-align: justify;/* 親要素がcenterなのでjustifyに */
    padding: 20px ;
}


.price strong{
    font-size: 1.5rem;
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
}

.service-detail-container{
    margin: 25px auto ;
    padding-bottom: 25px;
    /* height: 314px; */
    justify-content: center; /* display flexはblock要素なのでjustify-content */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* flex-wrap: wrap; */
    border-bottom:4px dotted #d7d7d7;
}



.service-detail-item{
    margin: 10px;
    height: 314px;
}

.QandA{
    padding: 10%;
    display: flex;
    flex-direction: column;/* 小要素を上から下に並べる */
    /* justify-content: space-around;均等配置 */
    border-bottom:4px dotted #d7d7d7;

}

.question{
    padding: 5%;
}



.QandA-1-point1-container{
    display: flex;
    justify-content: center;/* 小要素を真ん中に */
    /* flex-wrap: wrap;折り返し上から並べる */
}

.QandA-1-point1-item{
    text-align: justify;
}

.QandA-1-point3-container{
    display: flex;
}

.QandA-1-point3-item{

}

.QandA-1-point3-answer{
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    line-height: normal;
    background-color: rgba(247, 239, 162, 0.5);
}

#security{
    font-weight: bolder;
}

.button{
    text-align: center;
}

button{
    display: inline-block;
    width:auto;
    margin:40px auto;
    padding: 5px;
    font-size: 20px;
    background-color: none;
}

button a{
    color: #000000;
}

aside{
    
    padding: 30px 10%;  /* 上下 左右 */
    /* 背景画像："url(画像のパス)" */
    background-image: url("images/aside-会社概要背景.jpeg"); 
    /* 画像の縦横比を維持したまま、領域全体をおおうサイズで伸縮される（画像の表示されない部分も発生） */
    background-size: cover;
    /* 画像の表示させたい部分 */
    background-position: center;

}

table{
    display: inline-block;
    text-align: justify;
}

th{
    padding-right:  20px;
}

/* 半透明の白の背景 */
.aside{
    color: #ffffff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* asideの中のaタグを黒色に */
aside a{
    
    color: #ffffff;
}
footer{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px; /* 行の高さ */
    background-color: #848282;
}

.footer-text{
    color: #ffffff;
}

form h2{
    margin-bottom: 20px;
}

form label{
    line-height: 3;
}

